{
    "presets": [
      "env",
      "stage-2",
      "react"
    ],
    "plugins": [
      "react-hot-loader/babel"
    ]
  }
  //This on for test
 /* {    
    "presets": ["react-app"],
    "plugins": ["@babel/plugin-transform-modules-commonjs"]
}*/
  